<!-- <div>
</div> 
  <div class="container">
             <div class="row">
                <div class="col">
                    <app-header></app-header>
                </div>
            </div>

      <!--  <div class="row">
            <div class="col">
                <app-coupons></app-coupons>
            </div>
        </div>-->

        <!-- <div class="row">
            <div class="col">
                <app-footer></app-footer>
            </div>
        </div> 
 </div> -->
 <!-- <div *ngIf="login"> -->
      <!-- <app-navbar></app-navbar>  -->
 <!-- </div> -->

 <!-- <app-admin-nav-bar></app-admin-nav-bar> -->
 <body> 
<router-outlet></router-outlet>
</body>

