
<h1>TOP CATEGORIES</h1>
<table>
    <td>
        <mat-card class="matCategory matHover">
            <a routerLink="/fashion"
            
            ><img src="../../../assets/download.png"><br><p>Fashion</p> </a>
        </mat-card>
    </td>
    <td>
        <mat-card class="matCategory matHover">
            <a routerLink="/electronic"
            
            ><img src="../../../assets/electronic.png"><br><p>Electronic</p> </a>
        </mat-card>
    </td>
    <td>
        <mat-card class="matCategory matHover">
            <a routerLink="/food">
            <img src="../../../assets/food.png"><br><p>Food</p> </a>
        </mat-card>
    </td>
    <td>
        <mat-card class="matCategory matHover">
            <a routerLink="/footware"
               
            ><img src="../../../assets/footware.png"><br><p>Footware</p> </a>
        </mat-card>
    </td>
</table>
