<app-header></app-header>
<app-navbar></app-navbar>

<mat-card class="customAboutUs">
    <span class="one">Hello Everyone</span><br><br>
<span>
             At CouponNDeal, we help you save money through our comprehensive listing of coupons and
       discounts from top online brands and websites. 
</span><br><br>
<span>
             Our aim is to create a generation of smart shoppers by empowering customers to make the best 
       possible choices. We sweeten everyday deals and makes online shopping more rewarding.
</span>
</mat-card>
<app-footer></app-footer>