<!--nav bar-->
<mat-toolbar class="navColor">
  
  <a
      [routerLink]="'/'"
      mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <span>CouponNDeals</span>
  </a>
  <span class="example-spacer"></span>
              <!--Login-->
<!-- <nav *ngIf="login.getUserRole()=='user'">  -->
  <nav>
  <a
     *ngIf="!isLoggedIn"
       [routerLink]="'/signin'"
       mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon">
     <p> Sign in</p>
  </a>

          <!--register-->
  <a
      *ngIf="!isLoggedIn"
        [routerLink]="'/signup'"
       mat-icon-button 
       class="example-icon favorite-icon  "
        aria-label="Example icon-button with heart icon">
       Register
  </a>

  <a
    *ngIf="isLoggedIn"
      [routerLink]="'/user'"
     mat-icon-button 
     style="margin-right:35px"
     class="example-icon favorite-icon  "
      aria-label="Example icon-button with heart icon">
     {{user.username}}
  </a>

          <!--logout-->
  <a
    (click)="logout()"
      *ngIf="isLoggedIn"
        [routerLink]="'/signin'"
       mat-icon-button 
       class="example-icon favorite-icon  "
        aria-label="Example icon-button with heart icon">
       Logout
  </a>
</nav>
</mat-toolbar>