  <nav>
    <div class="bootstra-wrapper">
        <div class="container">
            <div class="row">
    <mat-card  class="headerCard">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a  routerLink="/coupon">All Coupons</a></li>
      <li><a >Categories</a>
        <ul class="dropdownCategory">
          <li><a routerLink="/fashion">Fashion</a></li>
          <li><a routerLink="/electronic">Electronic</a></li>
          <li><a routerLink="/food">Food</a></li>
          <li><a routerLink="/footware">Footware</a></li>
        </ul>
      </li>
      <li><a routerLink="/aboutUs">About Us</a></li>
    </ul>
    </mat-card>
    </div>
    </div></div>
  </nav>
