.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar.mat-primary{
      background: cornflowerblue;
      color: white;
  }
  span{
      font-size: 25px;
  }
  p{
      margin-left: -20px;
  }
 .navColor{
    background-color: rgb(183, 6, 253);
    width: 100%;
 }